<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Department</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_department.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="title">Add Department</div>
        <form method="post" action="{{ url_for('add_department') }}">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="field">
                <input type="text" name="department_id" required>
                <label>Department ID</label>
            </div>
            <div class="field">
                <input type="text" name="department_name" required>
                <label>Department Name</label>
            </div>
            <div class="field">
                <input type="submit" value="Add Department">
            </div>
        </form>
        <form action="{{ url_for('main_page') }}">
            <button type="submit" class="back-button">Back to Menu</button>
        </form>
    </div>
</body>
</html>
